html
{
    background-color: #161b21;
    font-size: 110%;
}

.TypeDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

.center-div
{
    background-color: #27303a;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
}

.text-div
{
    overflow: hidden;
    width: 40vw;
}


.active
{
    color: rgb(174, 0, 255);
}

.not-active
{
    color: rgb(255, 255, 255);
}

.incorrect
{
    color: red;
}

.correct
{
    color: rgb(14, 245, 41);
}

.button
{
    background-color: #27303a;
    color: #FFFF;
    padding: 10px;
    border: transparent;
    font-size: inherit;
}

.button-active, .button:hover
{
    background-color: #27303a;
    color: #FFFF;
    padding: 10px;
    border: transparent;
    text-decoration: underline;
    font-size: inherit;
}

.redo-button
{
    background-color: #747474;
    padding: 5px 50px 5px 50px;
    color: #FFFF;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    font-size: large;
}

.redo-button:hover
{
    background-color: #747474;
    padding: 5px 50px 5px 50px;
    color: #FFFF;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;

}

#input-field
{
    background-color: #3c444e;
    color: #FFFF;
    width: 25vw;
    height: 4vh;
    border-radius: 12px;
    margin: 0.5rem;
    padding: 0 1px 0 1px;
    font-size: inherit;
    border: none;
}

.time-acc
{
    color: #FFFF;
    float: right;
}